{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 left-menu-container slideInLeft">
                {% include 'includes/leftmenu.html.twig' %}
            </div>
            <div class="col-sm-9 right-menu-container-80" id="right-menu-container">
                <div class="h1-title-container">
                    <div class="title-content row">
                        <div class="col-sm-3">

                            <h1 class="h1-titre"><i class="fas fa-newspaper"></i> NEWS :</h1></div>
                        <div class="col-sm-9">
                            <a href="{{ path('article_create') }}" class="btn btn-outline-warning add-article-btn">Ajouter un article</a>
                        </div>

                    </div>

                    <hr>
                    {% for article in articles %}
                        <div class="container-fluid">
                            <h2 class="h2-titre animated slideInRight">{{ article.title }}</h2>
                            <br>
                            <div>
                                <div>Date : {{ article.createdAt | date("d-m-Y") }}</div>
                                <br>
                                <div class="row animated slideInRight delay-1s">
                                    <div class="col-6 col-md-4">
                                        <img src="{{ article.image }}" alt="" title="Article 1" class="img-fluid">
                                    </div>
                                    <div class="col-12 col-md-8 article-content">
                                        <h3 class="h3-titre">Sous titre de l'article</h3>
                                        <div class="content-article">{{ article.content }}</div>
                                        <a href="{{ path('article_id',{'id': article.id}) }}" class="btn btn-outline-warning btn-lire">Lire l'article</a>
                                        <a href="{{ path('article_pdf',{'id': article.id}) }}" target="_blank" class="btn btn-outline-info btn-lire">Exporter en PDF</a>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
{% endblock %}


