<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navigation-bar">
    <a class="navbar-brand" href="#">
        <img src="{{ asset('img/logo.png') }}" class="img-fluid" alt="" title="" id="logo-qiwo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav nav-list">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('homepage') }}">
                    <i class="fas fa-home fa-3x"></i>
                    <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-text" href="{{ path('games_index') }}">
                    <i class="fas fa-gamepad fa-3x"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-text" href="{{ path('tools_show') }}">
                    <i class="fas fa-wrench fa-3x"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-text" href="{{ path('fos_user_registration_register') }}">
                    <i class="fas fa-registered fa-3x"></i>
                </a>
            </li>
        </ul>
    </div>

    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link nav-text" href="{{ path('admin') }}">
                        <i class="fas fa-lock fa-3x"></i>
                    </a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link nav-text" href="{{ path('admin') }}">
                        <i class="fas fa-lock fa-3x"></i>
                    </a>
                </li>
            {% endif %}
            {% if not app.user %}
                <li class="nav-item" style="margin-right: 10px;">
                    <a class="nav-link nav-text btn btn-outline-warning" href="{{ path('fos_user_security_login') }}">
                        <i class="fas fa-eye fa-3x"></i>
                    </a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a style="margin-right: 10px;" class="nav-link nav-text btn btn-outline-warning" href="{{ path('fos_user_security_logout') }}">
                        <i class="fas fa-eye-slash fa-3x"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a style="margin-right: 10px;" class="nav-link nav-text btn btn-outline-warning" href="{{ path('fos_user_profile_show') }}">
                        <i class="fas fa-user-circle fa-3x"></i>
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>